<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recuperación de Imágenes</title>
    <link rel="stylesheet" href="/statics/style.css">
</head>
<body>
    <h1>Sube una Imagen</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Subir</button>
    </form>
    <div id="result"></div>
    <script src="/statics/script.js"></script>
</body>
</html>
